div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	font-family: $font_main;
	background: {
		image: url(images/header-background.jpg);
		position: top left;
		repeat: no-repeat;
		size: cover;
	}

}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.relative {position: relative;}
.logo, h1.logo {
	width: 250px;
	margin: 20px auto;
	@include tab {
		float: left;
		margin: 0;
	}
	a {
		width: 250px;
		display: block;
	}
	img {
		width: 100%;
	}
}
.center {
	text-align: center;
}
header.site-header {
	width: 100%;
	position: relative;
	float: left;
	@include tab {
		
	}
	.wrapper {
		@include tab {
			padding: 60px 0 0 0;
		}
	}
	
	.order-n-delivery {
		width: auto;
		
		
		font-family: $text-display-bold;
		letter-spacing: 1px;
		a {
			background-color: $color-red;
			color: #fff;
			padding: 8px 20px;
			text-align: center;
			border-radius: 5px;
			text-transform: uppercase;
			text-decoration: none;
		}
		&.desk {
			display: none;
			@include tab {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				border-radius: 0 0 5px 5px;
			}
		}
		&.mobile {
			margin: 20px auto;
			display: inline-block;
			@include tab {
				display: none;
			}
		}
	}
}
main.home {
	
	@include tab {

	}
	@include mid {
		min-height: 500px;
	}
	@include desk {

	}
	.hero {
		width: 100%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}
main#main {
	width: 100%;
	position: relative;
	.diamonds {
		height: 30px;
		width: 100%;
		position: absolute;
		bottom: -15px;
		left: 0;
		background: {
			image: url(images/diamonds.png);
			repeat: repeat-x;
			size: 30px 100%;
		}
	}
}
.site-content {
	width: 100%;
	float: left;
}
body.page {
	.site-header {
		padding-bottom: 80px;
	}
}
body.home {
	.site-header {
		padding-bottom: 0px;
	}
}
article.page {
	text-align: center;
	header.entry-header {
		font-family: $text-display;
		text-transform: uppercase;
		color: $color-blue;
		font-size: 22px;
	}
}
footer.site-footer {
	width: 100%;
	clear: both;
}
.foot-addy {
	width: 100%;
	float: left;
	text-align: center;
	background-color: $color-yellow;
	padding: 10px 0;
	color: $color-blue;
	font-size: 18px;
	.flex {
		@include tab {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
	}
}
.social {
	@include tab {
		margin-left: 20px;
	}
	a {
		color: $color-blue;
		text-decoration: none;
		font-size: 25px;
		margin: 0 10px;
	}
}
.foot-message {
	font-size: 14px;
	width: 100%;
	float: left;
	padding: 0 0 20px 0;
}
.fs-logos {
	width: 100%;
	float: left;
	background-color: $color-blue;
	color: #fff;
	text-align: center;
	padding: 40px 0;
}
.footlogos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	float: left;
	@include tab {

	}
	@include desk {
		width: 50%;
		margin: 0 auto;
		float: none;
	}
	a {
		// width: 100px;
		display: inline-block;
		margin: 0 ;
		img {
			width: 100%;
		}
	}
	img {
		// width: 100px;
		margin: 0 ;
	}
}
nav.main-navigation {
	width: 50%;
	float: right;
	font-family: $stratum;
	font-weight: bold;
	position: relative;
	z-index: 10000;
	@include tab {

	}
	@include mid {
		width: 650px
	}
	@include desk {
		width: 750px
	}
	.desktop {
		display: none;
		@include tab {
			display: block;
			width: 100%;
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
	}
	li {
		width: auto;
		display: inline-block;
		margin: 0 10px;
		align-items: flex-end;
		// float: right;
		text-transform: uppercase;
		font-size: 14px;
		a {
			text-decoration: none;
			color: $color-blue;
			font-weight: bold;
			padding: 10px;
			display: block;
			transition: all ease .3s;
			&:hover {
				-webkit-box-shadow: 0px 2px 28px 6px rgba(255,255,255,0.96); 
	box-shadow: 0px 2px 28px 6px rgba(255,255,255,0.96);
			}
		}
		&:last-child {
			margin: 0 0 0 10px;
			a {
				padding: 10px 0 10px 10px;
			}
		}
	}
	
}
section.brown {
	width: 100%;
	float: left;
	background: {
		image: url(images/brown-background.jpg);
		background-repeat: no-repeat;
		size: cover;
	}
	&.page {
		padding: 100px 0 50px 0;
		clear: both;
	}
}
// .content-area {
// 	width: 100%;
// 	float: left;
// 	background: {
// 		image: url(images/brown-background.jpg);
// 		background-repeat: no-repeat;
// 		size: cover;
// 	}
// 	padding: 100px 0 50px 0;
// }
.siteby {
	width: 100%;
	float: left;
	text-align: center;
	padding: 30px 0 10px 0;
	font-size: 12px;
	color: rgba(#fff, .5);

	a {
		text-decoration: none;
		color: rgba(#fff, .7);
	}
}
.btn {
	width: auto;
	text-align: center;
	margin: 20px 0;
	display: inline-block;
	a {
		padding: 10px 20px;
		background-color: $color-blue;
		color: #fff;
		display: block;
		border-radius: 5px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all ease .3s;
		&:hover {
			-webkit-box-shadow: 0px 2px 28px 6px rgba(255,255,255,0.96); 
box-shadow: 0px 2px 28px 6px rgba(255,255,255,0.96);
		}
	}
	&.left {
		float: left;
	}
}
.special-wrap {
	width: 90%;
	margin: 0 auto;
	@include tab {
		width: 80%;
	}
	@include desk {
		width: 50%;
	}
}
.special-widget {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	width: 100%;
	float: left;
	padding: 0 20px 20px 20px;
	margin: 20px auto 40px auto;
	-webkit-box-shadow: -2px 5px 5px -4px rgba(0,0,0,0.5); 
box-shadow: -2px 5px 5px -4px rgba(0,0,0,0.5);
	.blue-title {
		background-color: $color-blue;
		color: $color-yellow;
		font-family: $text-display-bold;
		font-size: 50px;
		position: absolute;
		top: -20px;
		left: -20px;
		padding: 20px;
		border-radius: 10px;
		width: 32%;
		transform: rotate(-5deg);
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	.right {
		width: 98%;
		float: right;
		position: relative;
		background-color: $color-teal;
		color: $color-blue;
		margin-top: -15px;
		padding-top: 20px;
		border-radius: 0 0 10px 10px;
		.text {

		}
		.right-right {
			width: 65%;
			float: right;
		}
	}
}